<!DOCTYPE html>
<html>
  <head>
    <title>React</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
    <script src="https://cdn.bootcss.com/socket.io/1.7.3/socket.io.min.js"></script>

    <script type="text/javascript">
    var socket = io();
    </script>
  </head>
  <body>
    <div id="react-root"></div>
    <script type="text/javascript" src="/js/vender.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
  </body>
</html>
