<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Optional theme -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
  </head>
  <body>
    <div id="react-root"></div>
    <script type="text/javascript" src="/js/vender.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
  </body>
</html>
