<!DOCTYPE html>
<html>
  <head>
    <title>React</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/react-bootstrap/0.31.0/react-bootstrap.min.js"></script>
    <!-- Optional theme -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/socket.io/1.7.3/socket.io.min.js"></script>

    <script type="text/javascript">
    var socket = io();
    </script>
  </head>
  <body>
    <div id="react-root"></div>
    <script type="text/javascript" src="/js/vender.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
  </body>
</html>
